.ant-input {
  padding: 10px 15px !important;
  border-radius: 16px !important;
}
.ant-input-affix-wrapper {
  padding: 0px !important;
}
.ant-input-suffix {
  position: absolute;
  right: 15px;
  transform: translateY(-50%);
  top: 50%;
}
