.ant-rate-star.ant-rate-star-full,
.ant-rate-star.ant-rate-star-half.ant-rate-star-active {
  color: rgba(19, 28, 22) !important;
  fill: rgba(19, 28, 22) !important;
  stroke: rgba(19, 28, 22, 0.2) !important;
  margin-right: 14.79px !important;
}

.ant-rate-star.ant-rate-star-zero {
  color: transparent !important;
  fill: transparent !important;
  stroke: rgba(19, 28, 22) !important;
  margin-right: 14.79px !important;
}
.ant-rate-star.ant-rate-star-focused {
  color: rgba(19, 28, 22) !important;
  fill: rgba(19, 28, 22) !important;
  stroke: rgba(19, 28, 22, 0.2) !important;
  margin-right: 14.79px !important;
}
