.styles_btn__YIQnM {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
}
.styles_secondaryBtn__mTKQc {
  background-color: var(--red-100);
  color: #fff;
  padding: 19px 84px;
}
.styles_disabledBtn__N8J7U {
  opacity: 0.2;
  color: #fff;
  padding: 19px 84px;
}
.styles_dangerBtn__pToIQ {
  background-color: red;
  color: #fff;
}
.styles_primaryBtn__a4Ewj {
  background-color: #fff;
  border: 1px solid var(--red-100);
  padding: 18px 84px;
  color: var(--red-100);
}
.styles_categoryButton__tu6Gk {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.styles_inActive__TTD_c {
  background: transparent !important;
  color: var(--black-500) !important;
}
.styles_active__cKrKP {
  color: var(--red-100) !important;
  border-bottom: 2px solid #fa4a0c;
}
.styles_countBtn__5UOlW {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
