.customized-modal {
  max-width: calc(100vw - 48px) !important;
  & > .ant-modal-content {
    border-radius: 16px !important;
    background-color: var(--white-100) !important;
    padding: 24px !important;

    & > .ant-modal-close {
      background-color: unset !important;
      margin-top: 5px;
      margin-right: 5px;
      .ant-modal-close-x {
        svg {
          width: 20px;
          height: 20px;
          fill: #131c16;
        }
      }
    }

    & > .ant-modal-header {
      margin-bottom: 30px;
      .ant-modal-title {
        color: #131c16;
        background: var(--white-100);
        line-height: normal;
        padding-top: 26px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        font-family: var(--font-rubik);
      }
    }

    & > .ant-modal-body {
      color: #131c16;
      font-family: var(--font-rubik);
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 30px;

      input {
        font-family: var(--font-open-sans);
      }
    }

    & > .ant-modal-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 12px;

      & > button {
        font-family: var(--font-rubik);
        font-size: 20px;
        height: 61px;
        width: 100%;
        flex-shrink: 0;
        line-height: normal;
        font-weight: 500;
      }
    }
  }
}
.ant-modal-mask {
  background: rgba(19, 28, 22, 0.5) !important;
}
