.product-skeleton-paragraph {
  .ant-skeleton-title {
    width: 95% !important;
    height: 25px !important;
  }
  .ant-skeleton-paragraph {
    margin-top: 19px !important;

    & > li {
      &:not(:first-child) {
        margin-top: 6px !important;
      }
      &:last-child {
        width: 90% !important;
      }
    }
  }
}

.header-background {
  background-image: url('/assets/images/food-bg.jpeg');

  @media (min-width: 768px) {
    background-image: url('/assets/images/landing-page.png');
  }
  // background-repeat: no-repeat;
  background-size: cover;
}
